.inline-block {
  display: inline-block;
}

.align-right {
  margin-left: auto;
}

.align-light {
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
