@import "vars";
@import "normalize";
@import "decorators";
@import "mixins";

select {
  font-weight: normal;
  color: $default;
  outline: none;
  cursor: pointer;
}

body .g-toast.top-center {
  top: 0;
}

.hint {
  color: $grey;
}

.loading {
  font-size: 16px;
  color: $grey;

  i {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin-right: 5px;
    opacity: 0.6;
    background-image: url("~assets/icons/loading.svg");
  }
}

.icon {
  @include blackOpacity(background-color, 0.9);
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin: 5px;
  cursor: pointer;
}

.see {
  background-image: url("~assets/icons/look.svg");
  background-size: 65%;
}

.plus {
  background-image: url("~assets/icons/plus.svg");
}

.cross {
  background-image: url("~assets/icons/cross.svg");
}
