@import "vars";
@import "normalize";
@import "decorators";
@import "mixins";

select {
  font-weight: normal;
  cursor: pointer;
}

body .g-toast.top-center {
  top: 0;
}

.hint {
  color: $grey;
}

.icon {
  @include blackOpacity(background-color, 0.9);
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin: 5px;
  cursor: pointer;
}

.see {
  background-image: url("~assets/icons/look.svg");
  background-size: 65%;
}

.plus {
  background-image: url("~assets/icons/plus.svg");
}

.cross {
  background-image: url("~assets/icons/cross.svg");
}
