@import "vars";

html {
  font-family: $font;
  font-size: 16px;
  word-spacing: 1px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $default;
  background-color: $light-grey;
}

body {
  min-width: 1024px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $default;
  text-decoration: none;
}

select,
button,
input,
textarea {
  font-family: $font;
}

input {
  background: $white;
  font-size: 13px;
  border: 1px $grey-border-btn solid;
  transition: 0.1s;
  width: 100%;
  outline: none;

  &:focus {
    border-color: $grey-border-dark;
  }
}

button {
  font-size: 11px;
  text-transform: uppercase;
  height: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
  background-color: $white;
  background-image: none;
  background: linear-gradient($white, $white);
  cursor: pointer;
  transition: 0.1s;
  outline: none;

  &:hover, &:focus {
    border-color: $grey-border-dark;
  }
}

button:disabled {
  cursor: default;

  &:hover, &:focus {
    border-color: $grey-border-light;
  }
}

select {
  font-size: 14px;
  font-weight: normal;
  color: $default;
  font-family: $font, sans-serif;
  outline: none;
  border-color: $grey-border-btn;
  background-color: $white;
  transition: 0.1s;

  &:hover, &:focus {
    border-color: $grey-border-dark;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}
