// colors
$default: #333;
$green: #42b983;
$grey: #777;
$dark-grey: #999;
$dark-grey2: #b7b7b7;
$dark-grey3: #bababa;
$medium-grey: #f1f1f1;
$light-grey: #f0f0f0;
$grey-border-dark: #a2a2a2;
$grey-border-medium: #dadada;
$grey-border-light: #ccc;
$grey-border-btn: #d1d1d1;
$white: #fff;
$black: #000;
$black-rgba-1: rgba(0, 0, 0, 0.1);
$black-rgba-5: rgba(0, 0, 0, 0.5);
$black-rgba-9: rgba(0, 0, 0, 0.9);
$grey-rgba-5: rgba(255, 255, 255, 0.5);

// fonts
$font: 'Arial';
